[submodule "External/eigen"]
	path = External/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "External/hidapi"]
	path = External/hidapi
	url = https://github.com/libusb/hidapi
[submodule "External/cuCollections"]
	path = External/cuCollections
	url = https://github.com/NVIDIA/cuCollections.git
